* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__dropdown {
  background-color: #fff;
}

.app__header > h1 {
  color: brown;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .app__stats {
    display: grid;
    justify-content: initial;
    grid-gap: 10px;
  }
}

.app__right {
  flex: 0.5;
}
@media (max-width: 990px) {
  .app__right {
    margin-top: 20px;
  }
}

.app__left {
  flex: 1;
  margin-right: 20px;
}
@media (max-width: 990px) {
  .app__left {
    margin-right: 0;
  }
}

.app__information > h3 {
  color: #6a5d5d;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 2rem;
}

.lineGraph canvas {
  height: 162px !important;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
